@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

html,
body,
#root,
.App,
.content {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}
.App {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.dark .MuiDataGrid-columnHeaders .MuiDataGrid-columnHeader {
  background-color: #3e4396 !important;
}
.light .MuiDataGrid-columnHeaders .MuiDataGrid-columnHeader {
  background-color: #a4a9fc !important;
}
.light .MuiDataGrid-columnHeaders .MuiDataGrid-scrollbarFiller {
  background-color: #a4a9fc !important;
}

.dark .MuiDataGrid-columnHeaders .MuiDataGrid-scrollbarFiller {
  background-color: #3e4396 !important;
}
.MuiDataGrid-columnHeader .MuiDataGrid-sortButton {
  background-color: transparent !important;
}
